{% extends "layout.html" %}
{% block content %}
    
<section class="post-content-section">
    <div class="content-section">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="myh">About Online Food Ordering System</h2>
                <p>Online food ordering is the process of ordering food from a website or other application. The product can be either ready-to-eat food (e.g., direct from a home-kitchen, restaurant, or a ghost kitchen) or food that has not been specially prepared for direction consumption (e.g., vegetables direct from a farm/garden, fruits, frozen meats. etc).</p>
                <p>In restaurant-controlled online food ordering, the restaurants create their own website and app, or choose to hire a delivery vendor. If they choose to create their own website, they make sure to obtain software that manages the orders efficiently, meaning it has the capability to manage different orders at once.[3] When they hire a vendor, the restaurant pays for a monthly fee or percentage-based fees. The vendor covers the developmental costs.</p>
             </div>
        </div>
    </div> <!-- /container -->
</section>
{% endblock content %}