{% extends "layout.html" %}
{% block content %}
    <section class="text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Online Food Ordering System</h1>
        <p class="lead text-muted">Online food ordering is the process of ordering food from a website or other application. The product can be either ready-to-eat food (e.g., direct from a home-kitchen, restaurant, or a ghost kitchen) or food that has not been specially prepared for direction consumption (e.g., vegetables direct from a farm/garden, fruits, frozen meats. etc).</p>
        <p>
          <a href="#" class="btn btn-primary my-2">All Food Items</a>
          <a href="/register" class="btn btn-danger my-2">Register</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          {% for row in itemList %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ url_for('static', filename='food_pics/' + row['itemImage'])}}" alt="{{ row['itemName'] }}">
              <div class="card-body">
                <h5>{{ row['itemName'] }}</h5>
                <p class="card-text" style="height: 100px; overflow: scroll;">{{ row['itemDescription'] }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('item_details', itemId=row.itemID) }}" class="btn btn-sm btn-outline-danger">View</a>
                  </div>
                  <small class="text-muted" style="font-weight: bold; color: #FF0000 !important;">Cost : {{ row['itemPrice'] }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}