{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

	<div id="shopping-cart">
		<div class="txt-heading">Shopping Cart</div>		
		{% if 'cart_item' in session %}
			<a id="btnEmpty" href="{{ url_for('empty_cart') }}">Empty Cart</a>
			<table class="tbl-cart" cellpadding="10" cellspacing="1">
			<tbody>
				{% set TotalPrice = namespace(value = 0) %}
				{% for item in session['cart_item'] %}
					{% set ItemImage = item['ItemImage'] %}
					{% set ItemName = item['ItemName'] %}
					{% set ItemPrice = item['ItemPrice'] %}
					{% set Quantity = item['Quantity'] %}
					{% set TotalPrice.value = TotalPrice.value + (ItemPrice * Quantity) %}
					{% print(item) %}
					{% print (TotalPrice) %}
		
					<tr>
						<td><img src="/static/images/{{ item['ItemImage'] }}" class="cart-item-image" style="width:50px;height:50px;" />{{ item['ItemName'] }}</td>
						<td style="text-align:right;"><input type="number" id="quantity" name="quantity" min="0" max="10" step="1" value="{{ Quantity }}"></td>
						<td  style="text-align:right;">$ {{ ItemPrice }}</td>
						<td style="text-align:center;">
							<a href="{{ url_for('delete_item', ItemID=item['ItemID']) }}" class="btnRemoveAction">
								<img src="/static/images/icon-delete.png" style="width:30px;height:30px;" alt="Remove Item" />
							</a>
						</td>
					</tr>

				{% endfor %}

				<tr>
					<td colspan="2" align="right">Total:</td>
					<td align="right" colspan="2"><strong>$ {{ TotalPrice.value }}</strong></td>
					<td></td>
				</tr>

			</tbody>
			</table>
		{% else: %}
			<div class="no-records">Your Cart is Empty</div>
		{% endif %}
	</div>
	<div>
		<br/>
		<a href="{{ url_for('home') }}" type="button" class="btn btn-primary" >Add Another Menu Item</a>
	</div>

</body>
</html>

{% endblock content %}
